<head>
  <script src="https://kit.fontawesome.com/e37ce27edc.js" crossorigin="anonymous"></script>
</head>

<div class="welcome">
  <h1>Welcome to
   <i class="fas fa-book"></i><strong>Bookers!</strong>
  </h1>
</div>